.grid-portfolio {
  padding: 65px 0px;
  background-color: #232323;

  .portfolio-item {
    margin: 15px 0px;
  }
}

.portfolio-item {
  .hover-effect {
    .hover-content {
      position: absolute;
      text-align: left;
      width: 100%;
      bottom: 5px;
      left: 0;
    }
  }
}

@include media("(max-width: 530px)") {
  .grid-portfolio {
    padding: 0px 0px;

    .portfolio-item {
      margin: 30px 0px;
    }
  }
}